
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */